body, html, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

#root > div {
  display: flex;
  height: 100%;
}

h1, h2, h3, h4, h5, pre, ul {
  font-family: "Consolas";
}

::selection {
  background-color: magenta;
}

pre {
  font-size: 13px;
}

ul {
  list-style-type: '- ';
}

a {
  color: blue;
}

.spacer {
  flex: 1;
}

.logo {
  margin: 0 1rem;
  max-width: 12rem;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 3px ridge lightgrey;
}

.menu a:hover {
  letter-spacing: 8px;
  transition: letter-spacing 0.5s ease-in-out;
}

.title strong {
  background-image: linear-gradient(to left, lightblue, yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  padding: 1rem;
  overflow: auto;
  width: 100%;
}

.footer {
  margin: 1rem;
}

.about {
  width: 100%;
  border: 1px solid black;background-image: linear-gradient(to left, lightblue, yellow, orange);
}

.about td {
  border: 1px solid black;
  width: 50%;
  padding: 10px;
}
.about td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  border: 2px rgb(248, 76, 104) dashed;
  margin-bottom: 12px;
}
.about td div {
  margin-bottom: 12px;
}

.snackcontent img {
  max-width: 600px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: 
    radial-gradient(rgb(238, 104, 205) 10%, transparent 10%),
    radial-gradient(rgb(238, 104, 205) 10%, transparent 10%);
  background-position: 0px 0px, 4px 4px;
  background-size: 8px 8px;
  background-color: rgb(255, 219, 245);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 136, 249);
  background-image: url('../public/scroll-texture.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  border-color: rgb(255, 136, 249);
  border-width: 3px;
  border-right-style: ridge;
  border-bottom-style: ridge;
}
