:root {
    --pink: #fc4ec0;
    --blue: #2f59c0;
}

body, html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

.link {
    color: var(--blue);
}

#vending {
    width: 30rem;
    position: fixed;
    left: 50rem;
    top: 2rem;
}
#vending img {
    width: 100%;
}

.item {
    position: absolute;
    text-decoration: none;
}
.vending {
    width: 3rem;
    height: 4.5rem;
}

.tooltip {
    display: block;
    visibility: hidden;
    width: 5.25rem;
    padding: 0.25rem 0;
    margin-top: -2.65rem;
    margin-left: -1.315rem;
    background-color: #fff;
    color: var(--blue);
    border: 2px solid #0b1135;
    text-align: center;
}
.tooltip.pink {
    color: var(--pink);
}
.vending:hover .tooltip {
    visibility: visible;
}
#secret {
    width: 7rem;
    height: 2.5rem;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: -20%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.tooltip::before {
  content: " ";
  position: absolute;
  top: -20%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #0b1135 transparent transparent transparent;
}

#crocogator {
    display: flex;
    align-items: center;
    justify-content: center;
}
#crocogator img {
    width: 50%;
}

#links {
    text-align: center;
}
#links a {
    color: var(--blue);
}
#links a:hover {
    color: var(--pink);
}

.sidebar {
    display: inline-block;
    width: 46rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.content {
    height: 39rem;
    overflow: hidden;
}
.content hr {
    color: #fc4ec0;
    border-style: dashed;
    border-width: 2px;
    padding: 0 5rem;
    width: 20rem;
    margin: 2rem auto;
}
.section {
    display: block;
    height: 39rem;
    overflow-y: auto;
}

.photos {
    max-width: 95%;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
}
.photo-container {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
.photo-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.photo-container img.h {
    width: unset;
    height: 100%;
}

#about > img {
    display: none;
}

@media (max-width: 1200px) {
    body {
        padding: 1rem 4rem;
        display: flex;
        flex-direction: column;
    }

    #vending {
        position: relative;
        top: 0;
        left: 0;
        width: unset;
    }
    #vending > img {
        display: none;
    }
    .sidebar, .section, .photos {
        margin: 0;
        width: unset;
        max-width: unset;
    }
    .section {
        height: 100%;
    }
    .content {
        height: 100vh;
    }
    .photo-container {
        height: 18rem;
        width: 18rem;
    }

    #about > img {
        display: block;
        width: 100%;
    }
}